.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-height: 260px;
  overflow: hidden;
  max-width: 567px;
  position: relative;
  margin-bottom: 15px;
}

.header {
  overflow: hidden;
  height: 140px;
  max-height: 100%;
}

.item {
  height: 120px;
}

.logo {
  position: absolute;
  z-index: 2;
  margin-top: 85px;
  margin-right: 10px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 6px;
}

.imageOutline {
  outline: 1px solid #eee;
  border-radius: 5px;
}
