.main {
  display: flex;
  width: 100vw;
  padding: 1rem;
  justify-content: center;
  overflow-y: "auto";
  // padding-bottom: 100px;
}

.vote {
  color: #a3a3a3;
  font-size: small;
  margin-left: 1px;
}

.divRate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3f7e0014;
  padding-inline: 4px;
  padding-block: 1px;
  border-radius: 3px;
}

.rate {
  color: #305d02;
  font-size: small;
  padding-top: 3px;
  padding-left: 3px;
}

.des {
  font-size: 0.875rem;
  color: #555;
}

.divDelivery {
  // margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.delivery {
  color: #a3a3a3;
  font-size: 0.875rem;
}

.divPrice {
  display: flex;
  margin-right: 5px;
}

.price {
  font-size: 0.875rem;
}
.currency {
  font-size: 0.875rem;
  margin-right: 2px;
}
