.main {
  // background-color: red;
  padding-inline: 20px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 8px;
}

.row {
  //   background-color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  //   margin-top: 10px;
}
